body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header-top {
  height: 80px;
  line-height: 80px;
}

ul.navbar-menu li,
ul.navbar-language li {
  display: inline-block;
  padding-right: 10px;
}

/* 1rem equivale al font specificato nel body,
nel nostro caso 1rem 16px
quindi ad esempio 1.2rem sarà uguale a 16 * 1.2 pixel */

ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.header-top .logo {
  vertical-align: middle;
}

ul.navbar-language :not(li:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* jumbo */
.jumbo {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbo h1 {
  font-size: 32px;
}

.jumbo p {
  margin: 10px 0;
}

.jumbo .testo {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbo h1 {
    font-size: 26px;
  }
}
/* end jumbo */

/* start main */
/* prima sezione */
/* colonna sx */
#prodotti img{
  height: 400px;
}

/* @media */



/* @media */

.banner{
  background-image: url("../img/index-banner.1f6fd0a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.phone{
  width: 70%;
}



/* mobility */

.scooter{
  background-image: url("../img/scooter.jpg");
  height: 500px;
  position: relative;
}

.mobility{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: white;
}

/* app */
.phone{

  width: 50%;
}

.bg-blue{
  background-color: #324150;
}

#app a{
  padding-bottom: 50px;
}
.img-right{
  background-image: url("../img/city.7c8c928.jpg");
  background-size: cover;
  position: relative;
  height: 405px;
}

#app img{
  width: 30%;
  height: 300px;
  padding-top: 70px;
}

#app .container .row h1, a, p{
  color: white;
}

/* @media */

#family{
  background-image: url("../img/muro.jpg");
  background-size: cover;
  height: 500px;
  position: relative;
}

.container-small{
  width: 600px;
  height: 250px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateY(-25%);
  transform: translateX(-50%);
  background-color: white;
}

#family .container-small{
  text-align: center;

}

#family p{
  font-size: 50px;
  margin-top: 30px;
  color: black;
}

#family ul li {
  display: inline-block;
  font-size: 50px;
  padding: 10px;

}

#family ul li a{
  color: black;
}

/* footer */







/* end */
